<div class="sidebar" ng-class="{'show':menuShown}" ng-click="hideMenu()">
	<div class="menu-fly-in">
		<ul>
			<li><a href="" ui-sref="main">Home</a></li>
			<li><a href="" ui-sref="list">Products</a></li>
			<li><a href="" ui-sref="delivery">Delivery</a></li>
			<li><a href="" ui-sref="contact">Contact</a></li>
			<li><a href="" ui-sref="about">About</a></li>
			<li><a href="" ui-sref="page-1">Custom Page 1</a></li>
			<li><a href="" ui-sref="page-2">Custom Page 2</a></li>
			<li><a href="" ui-sref="page-3">Custom Page 3</a></li>
		</ul>
	</div>
</div>